/* CSS is 4 losers, so stfu */

body {
	font-family: 'Times New Roman', serif;
}

.station {
	outline: 5px dashed black;
	width: 25rem;
	height: 18rem;
	padding: 1px;

	overflow-y: auto;
}

#stations {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.station {
	margin: 1rem;
	padding: 1rem;
}